# Managed by ansible.
# file: {{ template_destpath }}

[Time]
NTP={{ timesyncd_ntp_servers | join(' ') }}
{% if timesyncd_fallback_servers %}
FallbackNTP={{ timesyncd_fallback_servers | join(' ') }}
{% endif %}
RootDistanceMaxSec={{ timesyncd_root_distance_max_seconds }}
PollIntervalMinSec={{ timesyncd_poll_interval_min_sec }}
PollIntervalMaxSec={{ timesyncd_poll_interval_max_sec }}
